.gridimage {
    /* float: left; */
    height: 300px;
    width: 200px;
    margin-right: 20px;
}

.moviegrid {
    padding-top: 50px;
    /* border-radius: 50px 50px 0; */
    background-color: #5800FF;
    color: whitesmoke
}