/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand-image {
  /* height: 40vmin; */
  pointer-events: none;
  border-radius: 40px;
}


.nav-link {
  color: #ffff;
}

@media (prefers-reduced-motion: no-preference) {
  .brand-image {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root {
  background-color: #5800FF;
  font-family: 'Dosis', sans-serif;
}